@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
  box-sizing: border-box;
  text-decoration: none;
}

header {
  background-color: #2e948a;
  display: flex;
  justify-content: space-around;
  height: 18vh;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h2 {
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 4rem;
  color: #fff;
  margin: 1rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav li {
  margin: 2rem;
}

nav a {
  font-family: "Ubuntu";
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  color: #fdfdfd;
  text-transform: uppercase;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  width: 80vw;
}

.container-item {
  margin: 4rem 0;
  display: flex;
  justify-content: space-around;
}

.container-item img {
  width: 200px;
}

.item-texto {
  width: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 2rem;
}
.item-texto h2 {
  color: #ff4081;
}

.item-texto button {
  font-size: 0.9em;
  background-color: #2e948a;
  border-radius: 3.8rem;
  text-align: center;
  padding: 0.7rem 2rem;
  width: 40%;
  color: #fff;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: 500ms;
}

.item-texto button:hover {
  color: #2e948a;
  background: none;
  border: 0.1em solid #2e948a;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
}

.container-texto h1 {
  color: #ff4081;
  font-size: 3.75rem;
}

.container-texto p {
  color: #555555;
  font-size: 1.25rem;
}

.container-item {
  display: flex;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100vw;
    bottom: 0%;
    height: 8rem;
    background: #419488;
    
    }

#container-footer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.links-footer li{
    padding: 0 0 0.2rem 0;
    list-style-type: none;
    cursor: pointer;
}

.links-footer a{
    text-decoration: none;
    font-size: 0.9rem;
    color: #FFFFFF;
    transition: 300ms;
}

.links-footer a:hover{
    text-decoration: underline;
}

.button-footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 10rem;
}

.button-footer button {
    color: #FFFFFF;
    font-size: 0.7rem;
    font-weight: 100;
    border: 1px solid #FFFFFF;
    background: none;
    height: 1.7rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: 300ms;
}

.button-footer button:hover {
    color: #419488;
    background: #FFFFFF;
}