* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Ubuntu", sans-serif;
}

body {
  overflow-x: hidden;
}

main {
  max-width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #419488;
  height: 5rem;
}

#logo-header img {
  width: 10rem;
  margin-left: 3rem;
}

#navebar ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-right: 5rem;
  list-style-type: none;
  text-decoration: none;
}

#navebar a {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  transition: 500ms;
}

#navebar a:hover {
  font-size: 1rem;
}

#post {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

#post h3 {
  font-weight: 500;
  font-size: 1.7em;
  color: #ff4081;
  margin: 3em auto 0 auto;
}

#post h6 {
  font-style: normal;
  font-weight: 300;
  font-size: 0.6rem;
  color: #9d9d9d;
  margin-top: 0.2rem;
}

#foto_post {
  width: 100%;
  height: 232px;
  margin: 2.5rem 0 1rem;
  background: #c4c4c4;
}

#container {
  width: 80%;
  font-style: normal;
  font-weight: 300;
  font-size: 0.6rem;
}

#container div p {
  color: #000000;
  margin-top: 1rem;
}

#container div h3 {
  font-size: 0.9rem;
  font-weight: 600;
  color: #419488;
  margin-top: 2rem;
}

#cursos {
  background: #f7f7f7;
  width: 100vw;
  margin-top: 4rem;
}

#title_cursos h3 {
  font-weight: 500;
  font-size: 1.8em;
  color: #ff4081;
  margin: 1.5em auto;
  text-align: center;
}

#cursos #cards {
  width: 60%;
}

#cards {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  max-width: 70%;
  margin: 0 auto 3rem;
}

#cards h5 {
  font-size: 0.9rem;
  line-height: 3rem;
  color: #ff4081;
}

#cards div p {
  font-weight: 300;
  font-size: 0.6rem;
  width: 60%;
  margin: 0 auto;
  color: #000000;
  margin-bottom: 1.5rem;
}

.button-cursos {
  color: #ffffff;
  background: #ff4081;
  font-weight: 400;
  font-size: 0.7rem;
  padding: 0.6rem 1.5rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  transition: 300ms;
}

.button-cursos:hover {
  background: #bb2054;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100vw;
  bottom: 0%;
  height: 8rem;
  background: #419488;
}

#container-footer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.links-footer li {
  padding: 0 0 0.2rem 0;
  list-style-type: none;
  cursor: pointer;
}

.links-footer a {
  text-decoration: none;
  font-size: 0.9rem;
  color: #ffffff;
  transition: 300ms;
}

.links-footer a:hover {
  text-decoration: underline;
}

.button-footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 10rem;
}

.button-footer button {
  color: #ffffff;
  font-size: 0.7rem;
  font-weight: 100;
  border: 1px solid #ffffff;
  background: none;
  height: 1.7rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: 300ms;
}

.button-footer button:hover {
  color: #419488;
  background: #ffffff;
}

@media only screen and (max-width: 1036px) {
  #cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
}

@media only screen and (max-width: 820px) {
  main {
    max-width: none;
  }
}

@media only screen and (max-width: 768px) {
  main {
    max-width: none;
  }

  #logo-header img {
    width: 8rem;
  }

  #navebar ul {
    gap: 1.5rem;
    margin-right: 3rem;
  }

  #navebar a {
    font-size: 0.8rem;
  }

  #post h3 {
    font-size: 1.3rem;
    text-align: center;
  }

  #title_cursos h3 {
    font-weight: 500;
    font-size: 1.5rem;
  }

  #container-footer {
    display: flex;
    justify-content: space-around;
  }

  #container-footer img {
    width: 150px;
  }

  .links-footer a {
    font-size: 0.7rem;
    padding: 0;
  }
}

@media only screen and (max-width: 480px) {
  #logo-header img {
    width: 5rem;
  }

  #navebar ul {
    gap: 1.5rem;
    margin-right: 3rem;
  }

  #navebar a {
    font-size: 0.6rem;
  }

  #post h3 {
    font-size: 1.1rem;
    text-align: center;
  }

  #title_cursos h3 {
    font-weight: 500;
    font-size: 1.3rem;
  }

  #container-footer {
    display: flex;
    justify-content: space-between;
  }

  #container-footer img {
    width: 100px;
  }

  .links-footer a {
    font-size: 0.6rem;
    padding: 0;
  }

  .button-footer {
    width: 6rem;
  }

  .button-footer button {
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 280px) {
  #logo-header img {
    margin-left: 1rem;
    width: 5rem;
  }

  #navebar ul {
    gap: 1rem;
    margin-right: 1rem;
  }

  #navebar a {
    font-size: 0.5rem;
  }

  footer {
    height: 7rem;
  }

  #container-footer {
    display: flex;
    justify-content: space-between;
  }

  #container-footer img {
    width: 80px;
  }

  .links-footer li {
    font-size: 0.5rem;
    padding: 0.3rem;
  }

  .button-footer {
    width: 5rem;
  }

  .button-footer button {
    font-size: 0.5rem;
  }
}
